# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production

# Build outputs
dist/
build/

# Vite / React
client/node_modules/
client/dist/

# Server
server/node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
